:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --section1-title-color: #ffffff;
  --section3-title-color: #ffffff;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: #ffffff;
  --btn-color-porfolio:#F5F4FA;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol{
  margin: 0;
  padding-left: 0;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  font-family: 'roboto',sans-serif;
}

.effect-shadow {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.effect-shadow:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.effect-shadow:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.box{
  
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE ;
  border-right:1px solid #EEEEEE ;
}

.box-1{
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-1:hover {
  border: 1px solid var(--accent-color);
}
.box-1:focus {
  border: 1px solid var(--accent-color);
}
.container {
  
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}
.list {
  list-style: none;
}
.link { 
  text-decoration: none;
  
}
.link.active {
  color: var(--accent-color);
}
.link:hover {
  color: var(--accent-color);
}
.header-list-contats .link:focus {
  color: var(--accent-color);
}
.footer-address-list .link:focus {
  color: var(--accent-color);
}
/*header */
.header{
  border-bottom: 1px solid #EEEEEE ;
  }
.header .container{
  display: flex;
  justify-content: space-between;
}
.header-nav{
  display: flex;
}
.header-nav__list{
  display: flex; 
 }
.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav__studio-logo {
  color: var(--first-text-color);
  font-weight: bold;
}
.header-contacts__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
  display: flex;
}
.header-nav__item:not(:last-child){
  margin-right: 50px;
}
.header-nav__item {
  position: relative;
}
.header-nav__link--active::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-contacts__item {
  display: flex;
  align-items: center;
  
}
.header-contacts__item:first-child{
margin-right: 30px;
}
.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family:'roboto',sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.header-contacts__icon {
  fill: var(--second-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover{
  color: var(--accent-color);
}
.header-contacts__link:hover .header-contacts__icon{
  fill: var(--accent-color);
}
.header-contacts__link:focus{
  color: var(--accent-color);
}
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}

/* main */
/* section 1 */
.section-1 {
  display: flex;
 justify-content: center;
  max-width: 1600px;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/img-fon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  }

.section-1__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--section1-title-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.section-1__button {
  background-color: var(--accent-color);
  border-radius: 4px;
  border:none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  color: var(--btn-color);
  display: block;
  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-1__button:hover {
  background-color: #155c95;
}
.section-1__button:focus{
background-color: #155c95;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.modal__button-icon{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__close-icons {
 
  fill:var(--first-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover .modal__close-icons {
  fill: var(--accent-color);
}
.modal__icon:focus .modal__close-icons {
  fill: var(--accent-color);
}
.thumb{
  position: relative;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.modal__content{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
 
}

.modal__title{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
color: #212121;
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}
.form-field input{
  padding: 0;
  padding-left: 42px;
  
}
.form-field label{
  margin-bottom: 4px;
}
.modal-form__name{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__tel{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}
.modal-form__mail {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}
.modal-form__input-form{
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
.input-wrap{
  position: relative;
}
.modal-form__icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-form__input-form:focus {
  border-color:  var(--accent-color);
}
.modal-form__input-form:focus  + .modal-form__icon{
  fill:var(--accent-color);
}
.modal-form__comment {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}
.modal-form__textarea {
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}
.modal-form__textarea::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
  
}
.modal-form__checkbox--visualle-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

}
.modal-form__checkbox{
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.modal-form__label-checkbox {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
display: flex;
align-items: center;
}
.modal-form__label-checkbox span {

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form__checkbox-icon{
  fill: transparent;
}
.modal-form__input-checkbox:checked + .modal-form__label-checkbox span{
  background-color: var(--accent-color);
  border: none;
}
.modal-form__input-checkbox:checked + .modal-form__label-checkbox .modal-form__checkbox-icon{
  fill: #ffffff;
}
.modal-form__link{
  color: var(--accent-color);
  margin-left: 4px;
}

.modal-form__btn{
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
}
/* section 2 */
.section-2{
  padding-top: 94px;
  
}
.section-2__list {
  display: flex;
  }
.section-2__item {
  margin-right: 30px;
  width: 270px;
}


.section-2__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-2__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  
}

 .section-2__icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 270px;
   height: 120px;
   background-color:#F5F4FA ;
   margin-bottom: 30px;
 }
/* section 3 */
.section-3{
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.section-3__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
  text-align: center;
 
}
.section-3__list{
  display: flex;
 
}
.section-3__img{
  position: relative;
  margin-right:30px;
  
}
.section-3__img:first-child{
margin-left: 0px;
}
.section-3__img:last-child{
  margin-right: 0;
}
.section-3__text{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
 
  text-align: center;
  color: #FFFFFF;
}
/* section 4 */
.section-4 {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.section-4__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 42px;
  text-align: center;
 }

.section-4__list{
  display: flex;
  justify-content: space-between;
}

.section-4__employee{
  background-color: #ffffff;
  margin-left: 0;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.section-4__employee:last-child {
  margin-right: 0;
}
.section-4__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: center;
}
.section-4__profession{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}

.section-4__description{
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-4__soc-list{
  display: flex;
  justify-content: center;
}
.section-4__soc-item + .section-4__soc-item {
  margin-left: 10px;
}
.section-4__link{
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property:background-color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-4__icon{
  fill:#AFB1B8 ;
  transition-property:fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-4__link:hover{
  background-color: var(--accent-color);
}
.section-4__link:hover .section-4__icon{
  fill: #ffffff;
}
.section-4__link:focus {
  background-color: var(--accent-color);
}

.section-4__link:focus .section-4__icon {
  fill: #ffffff;
}
/* section-5 */
.section-5{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-5__title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.section-5__list {
  display: flex;
  justify-content: center;
}
.section-5__item +.section-5__item{
 margin-left: 30px;
}

.section-5__link{
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section-5__icon{
  fill:#AFB1B8 ;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-5__link:hover .section-5__icon{
  fill: var(--accent-color); 
}
.section-5__link:focus .section-5__icon {
  fill: var(--accent-color);
}
/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.footer__logo-studio {
  color: #ffffff;
}
.footer-contacts{
  display: flex;
  flex-direction: column;

}

.footer-contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer-contacts__link{
  margin-bottom: 9px;
}

.footer-soc{
  margin-left: 70px;
  }
.footer-soc__title{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
  
}
.footer-soc__list{
  display: flex;
  
}
.footer-soc__item + .footer-soc__item{
  margin-left: 10px;
}
.footer-soc__item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:#3f3f41;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
.footer-soc__link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc__item:hover{
  background-color: var(--accent-color);
}
.footer-soc__item:focus {
  background-color: var(--accent-color);
}
.footer-soc__icon{
  fill: var(--footer-color);
 }
 .footer-join{
  margin-left: 93px;
 }
 .footer-form{
   display: flex;
 }
.footer-join__title{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-join__input{
 padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color:#2f303a;
  color: var(--footer-color);
}
.footer-join__input::placeholder{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
display: flex;
align-items: center;
color: rgba(255, 255, 255, 0.6);
}
.footer-join__button{
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  
  color: #FFFFFF;
  margin-left: 12px;
}
.footer-join__icon{
  margin-left: 10px;
}
/* portfolio */
/* first */
.portfolio-section{

  padding-top: 94px;
  padding-bottom: 94px;
  
}
.portfolio-section__fierst-list{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section__fierst-item:not( :last-child) {
  margin-right: 8px;
}
.portfolio-section__button {
  
  background-color: var(--btn-color-porfolio);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  cursor: pointer;
  padding: 6px 22px;

  
}

.portfolio-section__button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
 
}
.portfolio-section__button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.effect-btn-shadow {
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.effect-btn-shadow:hover {
  box-shadow: 1px 2px 2px 0px rgba(13, 4, 4, 0.5);
  }
.effect-btn-shadow:focus {
  box-shadow: 1px 2px 2px 0px rgba(13, 4, 4, 0.5);
}
/* second*/
.portfolio-section__second-list {
  display: flex;
  flex-wrap: wrap;
  }


.portfolio-section__second-item:nth-child(-n + 3){
  margin-top: 0;
  
}
.portfolio-section__second-item:nth-child(3n + 0){
  margin-right: 0;
}
.portfolio-section__second-item:nth-child(n + 4){
  margin-top: 30px;
}
.portfolio-section__second-item{
  margin-right: 30px;
}

.portfolio-section__second-position{
  position: relative;
  overflow: hidden;
}
.portfolio-section__second-overlay{

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section__second-item:hover .portfolio-section__second-overlay{
 transform: translateY(0);
 opacity: 1;
}

.portfolio-section__second-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}
.portfolio-section__second-content{
  padding: 20px 24px;

}
.portfolio-section__second-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}
.portfolio-section__second-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  
}

