.modal__button-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-right: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__close-icons {

    fill: var(--first-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .modal__icon:hover & {
            fill: var(--accent-color);
        }
                .modal__icon:focus & {
                    fill: var(--accent-color);
                }
}




.thumb {
    position: relative;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.modal__content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;

}

.modal__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: #212121;
}