:root {
    --first-text-color: #212121;
    --second-text-color: #757575;
    --section1-title-color: #ffffff;
    --section3-title-color: #ffffff;
    --btn-color: #ffffff;
    --accent-color: #2196f3;
    --footer-color: #ffffff;
    --btn-color-porfolio: #F5F4FA;
}