/* section 2 */
.section-2 {
    padding-top: 94px;

}

.section-2__list {
    display: flex;
}

.section-2__item {
    margin-right: 30px;
    width: 270px;
}


.section-2__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-2__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);

}

.section-2__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}